/* Color Swicher CSS */

.switcher {
    width: 30px !important;
    height: 40px !important;
    display: inline-block;
    margin: 4px 8px;
    border-radius: 5px;
    border: 0px solid #000;
}

.swichermainleft {
    width: 100%;
    float: left;
}

.colorcode {
    display: inline-block;
    margin: 4px 8px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/*-- color-1 --*/

.color1 {
    background: rgb(0, 0, 0) !important;
}

/*-- color-2 --*/

.color2 {
    background: rgb(22, 82, 66) !important;
}

/*-- color-3 --*/

.color3 {
    background: rgb(68, 27, 2) !important;
}

/*-- color-4 --*/

.color4 {
    background: rgb(3, 13, 47) !important;
}

/*-- color-5 --*/

.color5 {
    background: rgb(72, 2, 51) !important;
}

/*-- color-6 --*/

.color6 {
    background: rgb(60, 0, 9);
}

/*-- color-7 --*/

.color7 {
    background: rgb(0, 23, 4);
}

/*-- color-8 --*/

.color8 {
    background: rgb(53, 0, 17);
}

/*-- color-9 --*/

.color9 {
    background: rgb(8, 2, 76);
}

/*-- color-10 --*/

.color10 {
    background: rgb(22, 41, 70);
}

/*-- color-16 --*/

.color11 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(74, 2, 101, 0.80) 0%, rgba(97, 2, 2, 0.87) 100%);
}

/*-- color-17 --*/

.color12 {
    background: linear-gradient( 109.6deg, rgba(6, 130, 154, 0.9) 11.2%, rgba(171, 5, 49, 0.88) 100.2%);
}

/*-- color-18 --*/

.color13 {
    background: linear-gradient(to right, rgba(141, 11, 183, 0.8), rgba(33, 63, 148, 0.8));
}

/*-- color-19 --*/

.color14 {
    background: linear-gradient(-225deg, rgba(8, 35, 138, 0.8) 28%, rgba(175, 8, 6, 0.8) 100%);
}

/*-- color-20 --*/

.color15 {
    background: linear-gradient(-225deg, rgba(5, 45, 103, 0.8) 38%, rgba(5, 132, 53, 0.85) 100%);
}

.full-width .container {
    max-width: inherit !important;
    width: 95% !important;
    transition: all 0.5s ease;
}

.switch_section span {
    font-size: 15px;
    font-weight: 800;
}

.unbox {
    margin: 0;
}

.switch_section li {
    width: 100%;
    height: 30px;
}

.switch_section {
    width: 100%;
    height: auto;
    list-style: none;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 19px;
}